<center>
  
<p> 8 Train Lines </p>
<p> 144 Stations </p>
<p> No Bathrooms <p>
<br />
<h1> The CTA Challenge </h1>
<p> To complete the CTA Challenge you must ride all eight lines and hit every stop. <p>

<br />
<br />
<p> The Current Record for the CTA Challenge is </p>
<%= @winner.duration %>
<p> held by </p>
<%= @winner.users.name %>
<p>

<%= link_to  "Post your time", new_challenge_url %>
</p> 

</center>
         
